<%= form_for(@feedbox) do |f| %>
  <% if @feedbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedbox.errors.count, "error") %> prohibited this feedbox from being saved:</h2>

      <ul>
      <% @feedbox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :last_update %><br />
    <%= f.datetime_select :last_update %>
  </div>
  <div class="field">
    <%= f.label :read_index %><br />
    <%= f.number_field :read_index %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
